.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-wrapper {
    position: relative;
    width: 100%;
}

.navigation-container {
    display: flex;
    justify-content: space-between; /* Розносить стрілки в різні боки */
    margin-top: 1.5rem;            /* Відступ від карток до стрілок */
    padding: 0 1rem;               /* Щоб не впиралися в краї */
}

.prev-arrow, .next-arrow {
    cursor: pointer;
    font-size: 2rem;               /* Розмір стрілки */
    color: #040404;
    transition: color 0.3s ease;
    user-select: none;             /* Щоб не виділялося як текст при кліку */
}

.prev-arrow:hover, .next-arrow:hover {
    color: #ED7C30;                /* Твій фірмовий помаранчевий при наведенні */
}

/* Приховуємо стандартні стрілки Swiper, якщо вони раптом з'являться */
.swiper-button-next, .swiper-button-prev {
    display: none !important;
}